bin/imgcat
# Ignore personal version of battery:
# https://github.com/frmendes/Battery
bin/battery
bin/mustacheme
completions/tmuxinator.zsh
completions/_hub
nvim/autoload
nvim/colors
nvim/plugged
tmux/plugins
iterm2/vendor/
iterm2/vendor/
iterm2/vendor/

# Ignore global variables after tracking them
zsh/env_global.symlink

# Ignore setup script until it is ready
setup.sh
