global !p
from ruby_snippet_helpers import *
endglobal

snippet cl "class"
class `!p class_name(path, snip)`
  $0
end
endsnippet

snippet cc "controller class"
class `!p class_name(path, snip)` < ${1:ApplicationController}
  $0
end
endsnippet

snippet mc "model class"
class `!p class_name(path, snip)` < ${1:ApplicationRecord}
  $0
end
endsnippet
