export HOMEBREW_GITHUB_API_TOKEN=your-token-here
export GITHUB_API_TOKEN=your-token-here
export OPENAI_API_KEY=""
export AWS_PROFILE=
# TODO: enable if setting up a day job computer
#       this flag enables company-specific settings
# export MNDS_WORK_PROFILE=true
