export HOMEBREW_GITHUB_API_TOKEN=your-token-here
export GITHUB_API_TOKEN=your-token-here
export OPENAI_API_KEY=""
export ANTHROPIC_API_KEY=""

export AWS_PROFILE=

export GIT_SIGNING_KEY=$HOME/.ssh/id_ed25519.pub
export GIT_EMAIL=fernando@mendes.codes
export GIT_GPG_FORMAT=ssh

# enable if setting up a day job computer
# export MNDS_WORK_PROFILE=true
