"*":
  welcome:
    showOnStartup: false
  core:
    followSymlinks: true
    themes: [
      "one-light-ui"
      "base16-tomorrow-light-theme"
    ]
    disabledPackages: [
      "travis-ci-status"
    ]
    projectHome: "/Users/mendes/dev"
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
    fontFamily: "Monaco"
    fontSize: 12
    scrollPastEnd: true
    tabLength: 4
    preferredLineLength: 120
  "vim-mode":
    startInInsertMode: true
  "travis-ci-status": {}
".prolog.source":
  editor:
    preferredLineLength: 120
".slim.text":
  editor:
    preferredLineLength: 120
".source.ruby":
  editor:
    tabLength: 2
